SITE1_KEY=<填入>
SITE1_HOST=<填入>
SITE1_LABEL=<填入>
SITE1_ADMIN=<填入>
SITE1_CURRENCY=<填入>
SITE1_COMPANYCODE=<填入>
SITE1_API_DOMAIN=<填入>
SITE1_LAUNCH_ENDPOINT=<填入>
SITE1_SURFACE=<填入>
SITE1_EXIT=<填入>
SITE1_WALLET=<填入>
SITE1_WALLET_UI=<填入>
SITE1_NOTE=<填入>
SITE2_KEY=<填入>
SITE2_HOST=<填入>
SITE2_LABEL=<填入>
SITE2_ADMIN=<填入>
SITE2_CURRENCY=<填入>
SITE2_COMPANYCODE=<填入>
SITE2_API_DOMAIN=<填入>
SITE2_LAUNCH_ENDPOINT=<填入>
SITE2_SURFACE=<填入>
SITE2_EXIT=<填入>
SITE2_CARD_SELECTOR=<填入>
SITE2_NOTE=<填入>
SITE3_KEY=<填入>
SITE3_HOST=<填入>
SITE3_LABEL=<填入>
SITE3_ADMIN=<填入>
SITE3_CURRENCY=<填入>
SITE3_COMPANYCODE=<填入>
SITE3_API_DOMAIN=<填入>
SITE3_LAUNCH_ENDPOINT=<填入>
SITE3_SURFACE=<填入>
SITE3_EXIT=<填入>
SITE3_WALLET=<填入>
SITE3_WALLET_UI=<填入>
SITE3_CARD_SELECTOR=<填入>
SITE3_NOTE=<填入>
PLATFORM_API=<填入>
ACCOUNT=<填入>
LAUNCH_THROTTLE_SEC=<填入>
